<!-- HEADER START -->
<header>
  <h1>
    <a href="profile.html">Hold Me Accountable</a>
  </h1>
  <div>
    <input class="input mb-2 px-2" type="text" placeholder="Search" id="search-bar" />
    <i class="search-icon fa-solid fa-magnifying-glass"></i>
  </div>
</header>

<main>
  <div class="profile-title columns-5">
    <img src="avatar-placeholder.gif" />
    <h1 class="username">Name</h1>
    <p>My Bad Habit: <span>This is my bad habit</span></p>
  </div>

  <div class="logs">
    <div class="update-log">
      <h1 class="card-header">Update Log</h1>

    </div>

    <div class="comment-log">
      <h1 class="card-header">Comment Log</h1>

    </div>
  </div>

</main>



  <!-- FOOTER START -->
<footer class="object-bottom">
  <div>
    <p>&copy Copyright 2022 by The Leftovers</p>
  </div>
</footer>

