* {
  box-sizing: border-box;
}

:root {
  --first: #46B8B2;  /* –––––––––––––– main color (slightly transparent) */
  --second: #18b5cae9; /* –––––––––––––– more opaque version of main color */
  --third: rgb(220, 220, 220); /* –––––– light grey for shadows */
  --fourth: #8F8F8F;
  --fifth: #00a2ff89;
}

/* body {
  background-color: var(--fifth);
} */

h1 {
  font-family: 'Roboto Mono', monospace;
  color: white;
  font-size: 100px;
}

.login-input {
  border: 2px solid grey;
  border-radius: 3px;
  filter: drop-shadow(-1px 3px 1px var(--fourth));
}

.login-button {
  display: block;
  background-color: #20A7FF;
  color: white;
  border: 2px solid white;
  border-radius: 3px;
  width: 90px;
  text-align: center;
  filter: drop-shadow(-1px 3px 1px var(--fourth));
}


.login-button:hover,
.login-button button:focus {
  box-shadow: inset 12em 0 0 0 white;
  transition: 0.5s;
  color: #20A7FF;
}

* {
  box-sizing: border-box;
}

:root {
  --first: #46B8B2;  /* –––––––––––––– main color (slightly transparent) */
  --second: #18b5cae9; /* –––––––––––––– more opaque version of main color */
  --third: rgb(220, 220, 220); /* –––––– light grey for shadows */
  --fourth: #8F8F8F;
  --fifth: #00a2ff89;
}


header {
  background-color: #20A7FF;
  padding: 20px 35px 0 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 2px solid grey;
  margin-bottom: 30px;
}

header h1 {
  font-size: 50px;
  font-family: 'Roboto Mono', monospace;
  color: white;
  margin-bottom: 15px;
}

.search-input {
  border: 2px solid grey;
  border-radius: 3px;
  filter: drop-shadow(-1px 3px 1px var(--fourth));
  margin: 30px;
  padding: 5px;
}

.search-icon {
  color: white;
}

.profile-title img {
  border: 2px solid #20A7FF;
  width: 200px;
  height: 200px;
  margin-left: 60px;
  border-radius: 50%;
}

.profile-title h1 {
  color: black;
  margin-top: 80px;
  font-size: 30px;
}

.profile-title p {
  background-color: #20A7FF;
  border-radius: 5px;
  padding: 20px;
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-weight: medium;
  font-size: 20px;
}

.logs {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 30px;
}

.logs h1 {
  font-size: 30px;
}

.update-log {
  border: 2px solid #20A7FF;
  display: flex;
  width: 40%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.comment-log {
  border: 2px solid #20A7FF;
  display: flex;
  width: 40%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.card-header {
  background-color: #20A7FF;
  width: 100%;
  text-align: center;
  border-radius: 5px;
}

.contents p {
  margin: 20px 10px;
  
}

/* FOOTER STYLE START */
footer {
  background-color: #20A7FF;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-top: 2px solid grey;
  /* margin-top: 416px; */
}

footer p {
  color: white;
  padding: 30px 20px 30px 20px;
  font-size: 14px;
}
/* FOOTER STYLE END */